.navbar-lewagon {
  height: 70px;
  justify-content: space-between;
  background: $green-light;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-lewagon .nav-item .nav-link {
  color: white;
}

.navbar-lewagon .nav-item.active .nav-link {
  color: $pink;
}

