<div class="container">
  <div class="row">
    <div class="cards">
      <% @lives.each do |life| %>
        <%= link_to life_path(life) do %>
          <div class="card-trip">
            <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
            <div class="card-trip-infos">
              <div>
                <h2><%= life.title %></h2>
                <p>Short description here!</p>
              </div>
              <h2 class="card-trip-pricing"><%= life.price_per_day %></h2>
              <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
            </div>
          </div>
        <% end %>
      <% end %>

    </div>
  </div>
</div>

